<nav class="navbar navbar-expand-md bg-body-light border-bottom">
    <div class="container-fluid navbar-pad">
      <a class="navbar-brand" href="/bookswap" style="color: #7800c2;font-weight: 500;"><i class="fa-solid fa-book"></i> BookSwap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
      
          <% if(!currUser){ %>
            <a class="nav-link" href="/signup"><b> Register</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="/login"><b>Login</b> </a>
         <% } %>
          <% if(currUser){ %>
            <a class="nav-link" href="/logout"><b>Logout</b> </a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>