<% layout("/layouts/boilerplate")%>
<style>
    .loginpage{
    height: 100vh;
}
h4{
    margin-top: 30px;
  }
</style>
<h4 class="col-6 offset-3">Login</h4>
<div class="row mt-3 loginpage">
    <div class="col-6 offset-3">
        <form action="/login" method="POST">
            <div class="mb-3  mt-3">
                <label for="username" class="form-label">Username:</label>
                <input name="username" type="text"placeholder="aria23" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input name="password" type="password"  class="form-control" id="password" required>
 
            </div>
            <button class="btn add-btn">Login</button>
        </form>

    </div>
</div>