<% layout("/layouts/boilerplate")%>
<style>
    .tab-dash{
        height: 100vh;
    }
</style>
<div class="row tab-dash">
    <div style="margin: 10px;">
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Account Deletion</th>
            
        </tr>
        <%  for(let user of allUsers){ %>
        <tr>
            <td>
                <%=user.username%> 
            </td>
             <td>
                <%=user.email%> 
            </td>
            <td>
                <form method="POST" action="/deleteuser/<%=user._id%>?_method=DELETE">
                    <button class="btn btn-dark offset-1">Delete User</button>
                </form>
            </td>
            
        </tr>
        <%  } %>
    </table>
</div>
</div>
